@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

div h1,
div a,
div p {
    padding: 5px 5px;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(159, 221, 155);
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(218, 239, 142);
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(69, 171, 135);
    flex-direction: row;
}

.flex-item:hover {
    flex: 4;
}

.flex-item {
    flex: 1;
    transition: flex 2s;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(195, 158, 158);
}

a {
    color: rgb(75, 137, 219);

}